app/node_modules
app/coverage
app/.nyc_output
.scannerwork

# Logs
app/logs
app/*.log
app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Optional npm cache directory
app/.npm

# Optional eslint cache
app/.eslintcache

# dotenv environment variables file
.env